<<<<<<< HEAD
.hero-section {
  background-image: url("ChatGPT Image Jul 16, 2025, 05_20_48 PM.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}
=======
.hero-section {
  background-image: url("ChatGPT Image Jul 16, 2025, 05_20_48 PM.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}
>>>>>>> c6fafc7e718cbae2f3219c2e13f29b0f1f5545ce
